---
title: Current state of ruby on rails community
layout: page
---

# Current state of Ruby on Rails community

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Current state of ruby on rails community.&#10;&#10;//cc <a href="https://twitter.com/adman65">@adman65</a> <a href="https://twitter.com/avdi">@avdi</a> <a href="https://twitter.com/andrzejkrzywda">@andrzejkrzywda</a> <a href="https://twitter.com/_solnic_">@_solnic_</a> <a href="http://t.co/1WUJS6c7Yy">pic.twitter.com/1WUJS6c7Yy</a></p>&mdash; Ivan Nemytchenko (@inemation) <a href="https://twitter.com/inemation/status/456116996196007936">April 15, 2014</a></blockquote>