<div class="text-center">
  <br/>
  <div class="likely">
    <div class="twitter" data-via="RailsHurts">Tweet</div>
    <div class="facebook">Share</div>
    <div class="gplus">Plus</div>
  </div>
</div>