/ Begin MailChimp Signup Form
%h4 Get notified about new posts:
#get-free-chapter
  %form#mc-embedded-subscribe-form.validate{:action => "//nemytchenko.us8.list-manage.com/subscribe/post?u=eac87c13e320dbac697422aa7&id=a3d703793a&topic=posts", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{:style => "position: absolute; left: -5000px;"}
        %input{:name => "b_eac87c13e320dbac697422aa7_a3d703793a", :tabindex => "-1", :type => "text", :value => ""}/
      #mce-responses.clear
        #mce-error-response.response{:style => "display:none"}
        #mce-success-response.response{:style => "display:none"}
      %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email address"}/
      %input#mc-embedded-subscribe.btn.btn-default.btn-xs{:name => "subscribe", :type => "submit", :value => "Subscribe"}/