.well
  .text-center
    %h4
      %a{:href => "http://railshurts.com/team"} Need help with legacy app refactoring? Our team can help!
      %br/
      %small
        Hire developers who understand how to organize code in Rails app for long-term maintainability
