---
title: About the project
layout: page
description: Many experts software developers tend to use obscure terminology and high-level concepts, assuming that everybody knows what it means. We are going to discuss problems of good software design avoiding academic terminology as much as possible.
image: images/learning-tc.jpg
---

<h1><%= current_page.data.title %></h1>

There's a whole bunch of smart people trying to teach us how to write good software, how to apply software design patterns & principles properly.

The problem is that they seem to bee too smart. They tend to use obscure terminology and high-level concepts, assuming that everybody knows what it means.

If we would be that smart, we wouldn't even be considering to work as another form creator in a million first Rails application project.
We would be flying above the clouds with gods, hacking around and moving mountains with the power of Clojure or Erlang.

The goal of "Rails hurts" project is to discuss same problems of good software design avoiding academic terminology as much as possible.
So whenever you find a word with unclear meaning on this site, let me know immediately in the comments that it needs to be clarified.

<%= img 'learning.jpg' %>

## Why it is so hard to learn about good software design?

We already accepted too many axioms about what it means to write a software and how it should be written. We accepted them undoubtedly and it is often impossible for us to look at the situation from a different angle.

We just don't have enough free space in our brains for that!

## What to do with this?

First we should unlearn some shit we have in our heads. Then defragment existing knowledge, freeing space for new concepts and approaches.

Finally, we should start applying smarter approaches in our day-to-day job to develop "awareness of a context" (i.e when something should be applied and when - not).

<%= img 'icon.png', 16 %>

<div class="panel panel-default"><div class="panel-body">
Take a look at "<a href="/principles">Principles and mottos: misunderstood and applied</a>" series.<br/>
It questions some of a thoughtlessly accepted mottos and principles.<br/>
As a consequence, it gently forces your brain  to think about their real meaning and application area.
</div></div>

