---
title: Current state of ruby on rails community
description: Although this picture was drawn more than a year ago, the situation is still more or less the same
layout: page
image: images/community.jpg
---

# Current state of Ruby on Rails community

Although this picture was drawn more than a year ago, the situation is still more or less the same.

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Current state of ruby on rails community.&#10;&#10;//cc <a href="https://twitter.com/adman65">@adman65</a> <a href="https://twitter.com/avdi">@avdi</a> <a href="https://twitter.com/andrzejkrzywda">@andrzejkrzywda</a> <a href="https://twitter.com/_solnic_">@_solnic_</a> <a href="http://t.co/1WUJS6c7Yy">pic.twitter.com/1WUJS6c7Yy</a></p>&mdash; Ivan Nemytchenko (@inemation) <a href="https://twitter.com/inemation/status/456116996196007936">April 15, 2014</a></blockquote>

1. A huge part of the community is still following DHH and Rails way, whatever it means. Some developers still continue to wonder how  their apps turn into unsupportable monsters in just a few months of development.
2. There are Rails Ninjas and Rockstars, who know how to hack Rails, so it will not hurt you much.
3. There are developers who disappointed in Rails together with Ruby. Most of them are switching to functional languages.
4. And there is a part, who don't believe in Rails universality also. But they are consistently developing and popularizing alternative ways of web application development using Ruby. These approaches are usually based on built-in modularity and OOP best practices.


Activities of these people from the last section became the inspiration for this project as well.

<div class="lead well">
  <p><b>Thank you <a href="http://twitter.com/_solnic_">Piotr</a>, <a href="http://twitter.com/jodosha">Luca</a>, <a href="http://twitter.com/andrzejkrzywda">Andrzej</a>, <a href="http://twitter.com/adman65">Adam</a> and many others!</b></p>
</div>

Here are some great posts on related topics from these guys:

* [The Ruby Community: The Next Version](http://hawkins.io/2015/05/the-ruby-community-the-next-version/)
* [8 Things I Learned During 8 Years of Ruby and Rails](http://solnic.eu/2015/03/04/8-things-i-learned-during-8-years-of-ruby-and-rails.html)
* [2014 Retrospective: A Year Of Lotus](http://lucaguidi.com/2014/12/23/2014-retrospective-a-year-of-lotus.html)
* [The Rails culture and The Rails Way](http://andrzejonsoftware.blogspot.rs/2014/11/the-rails-culture-and-rails-way.html)


