---
title: Rails Hurts - Let's fix that!
---
/ 💔
.center-block
  %img.center-block{:src => "images/site-logo.png", :width => "180px"}/
  %h1{:style => "text-align: center;"}
    RAILS HURTS
    %br/
    %small Let's fix that!
    /But we are not doomed to suffer forever

%br/
.well
  .lead.text-center
    %p
      The goal of this project is to help developers to stop suffering<br/> while they are working with Ruby on Rails

  .text-center
    %small
      <strong>not for</strong>: rails ninjas, rockstars and other kind of characters, who are completely comfortable with Rails


%br/

%h4
  %a{:href => "/mess"} The Mess. Why it happens to your code again and again?
%h4
  %a{:href => "/principles"} How Rails developers misunderstand software development principles:
.row
  .col-md-6
    %ul
      %li
        %a{:href => "/principles#dry---do-not-repeat-yourself"} DRY - "Do not repeat yourself"
      %li
        %a{:href => "/principles#conventions-over-configurations"} Convention over configuration
      %li
        %a{:href => "/principles#rails-is-not-your-application"} Rails is not your application
      %li
        %a{:href => "/principles#prefer-composition-over-inheritance"} Composition over inheritance
  .col-md-6
    %ul
      %li
        %a{:href => "/principles#kiss---keep-it-simple-stupid"} KISS - "Keep it simple, stupid"
      %li
        %a{:href => "/principles#fat-model-skinny-controller"} Fat model, skinny controller
      %li
        %a{:href => "/principles#yagni---you-arent-gonna-need-it"} YAGNI - "You aren't gonna need it"


/ %h4
/   %a{:href => "/current_state"} Current state of Ruby on Rails community

%br/

-#
  %h3 Book in progress:
  #get-free-chapter.row
    .col-md-2
      %img{:src => "http://placehold.it/80x100"}/
    .col-md-10
      %h3 How to stop being Rails developer
      %h4
        %a{:href => "/book"} Get first chapter for free!

  %br/


.text-center
  / Begin MailChimp Signup Form
  %h3 Get notified about new posts:
  #get-free-chapter
    %form#mc-embedded-subscribe-form.validate{:action => "//nemytchenko.us8.list-manage.com/subscribe/post?u=eac87c13e320dbac697422aa7&id=a3d703793a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      #mc_embed_signup_scroll
        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{:style => "position: absolute; left: -5000px;"}
          %input{:name => "b_eac87c13e320dbac697422aa7_a3d703793a", :tabindex => "-1", :type => "text", :value => ""}/
        #mce-responses.clear
          #mce-error-response.response{:style => "display:none"}
          #mce-success-response.response{:style => "display:none"}
        %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email address"}/
        %input#mc-embedded-subscribe.btn.btn-default.btn-xs{:name => "subscribe", :type => "submit", :value => "Subscribe"}/

  %br/

  %a{:href => "http://twitter.com/RailsHurts"}
    %img.center-block{:src => "images/ruby-patched.png", :width => "60px"}/
    Follow @RailsHurts

%br/