---
title: Rails Hurts - Let's fix that!
description: The goal of this project is to help developers stop suffering while they are working with Ruby on Rails
---
.center-block
  %img.center-block{:src => "images/site-logo.png", :width => "180px"}/
  %h1{:style => "text-align: center;"}
    RAILS HURTS
    %br/
    %small Let's fix that!

%br/
.well
  .lead.text-center
    %p
      The goal of this project is to help developers stop suffering<br/> while they are working with Ruby on Rails
      <br/><span class="btn btn-default btn-xs"><a href="about">Learn more</a></span>
  .text-center
    %small
      <strong>not for</strong>: rails ninjas, rockstars and other characters who are completely comfortable with Rails.

%br/

%h4
  %a{:href => "mess"} Why it happens to my code again and again?
%h4
  %a{:href => "./principles"} Principles and mottos: misunderstood and applied
.row
  .col-md-6
    %ul
      %li
        %a{:href => "./principles#dry---do-not-repeat-yourself"} DRY - "Don't repeat yourself"
      %li
        %a{:href => "./principles#conventions-over-configurations"} Convention over configuration
      %li
        %a{:href => "./principles#rails-is-not-your-application"} Rails is not your application
      %li
        %a{:href => "./principles#prefer-composition-over-inheritance"} Composition over inheritance
  .col-md-6
    %ul
      %li
        %a{:href => "./principles#kiss---keep-it-simple-stupid"} KISS - "Keep it simple, stupid"
      %li
        %a{:href => "./principles#fat-model-skinny-controller"} Fat model, skinny controller
      %li
        %a{:href => "./principles#yagni---you-arent-gonna-need-it"} YAGNI - "You aren't gonna need it"


%h4
  %a{:href => "./current_state"} Current state of Ruby on Rails community

%h4
  %a{:href => "./quiz"} Quiz: Are you able to distinguish Rails from Ruby?

%br/

=partial "get_book"

%br/

= partial "likely"

.center-block.text-center
  %a{:href => "http://twitter.com/RailsHurts"}
    %img.center-block{:src => "images/ruby-patched.png", :width => "60px"}/
    Follow @RailsHurts

%br/
%br/
