---
title: Test Your Knowledge!!
layout: quiz
description: Many expert software developers tend to use obscure terminology and high-level concepts, assuming that everybody knows what they mean. We are going to discuss problems of good software design avoiding academic terminology as much as possible.
image: images/learning-tc.jpg
---
<div class="well">
<h1 class="quizName"></h1>
        <div class="quizArea lead text-center">
            <div class="quizHeader">
                <!-- where the quiz main copy goes -->

                <a class="button startQuiz btn btn-success" href="#">Get Started!</a>
            </div>

            <!-- where the quiz gets built -->
        </div>

        <div class="quizResults">
            <h3 class="quizScore">You Scored: <span><!-- where the quiz score goes --></span></h3>

            <h3 class="quizLevel"><strong>Ranking:</strong> <span><!-- where the quiz ranking level goes --></span></h3>

            <div class="quizResultsCopy">
                <!-- where the quiz result copy goes -->
            </div>
        </div>

</div>
<%= img 'icon.png', 16 %>

<div class="panel panel-default"><div class="panel-body">
Take a look at the "<a href="/principles">Principles and mottos: misunderstood and applied</a>" series.<br/>
It questions some of thoughtlessly accepted mottos and principles.<br/>
As a consequence, it gently forces your brain to think about their real meaning and areas of application.
</div></div>

