---
title: Ruby or Ruby on Rails
layout: quiz
description: wedew
---

%h1.quizName


.quizArea.lead.text-center
  .quizHeader
    / where the quiz main copy goes
    %a.button.startQuiz.btn.btn-success{:href => "#"} Get Started!

  / where the quiz gets built
  .quizResults
    %h3.quizScore
      You Scored:
      %span
        / where the quiz score goes
    %h3.quizLevel
      %strong Ranking:
      %span
        / where the quiz ranking level goes
    .quizResultsCopy
      / where the quiz result copy goes