---
title: Backend Ruby developers team for hire
layout: page
description: We're the team of four backend Ruby developers with 22 years of total experience of work with Ruby and Rails applications.

<!-- image: images/learning-tc.jpg -->
---

<h1><%= current_page.data.title %></h1>

We're the team of four backend Ruby developers with 22 years of total experience of work with Ruby and Rails applications.

- We know how to develop applications in Rails so that they won't turn into a mess.
- We understand SOLID principles, apply design patterns and use proper OOP without turning Ruby code into Java.
- We're not afraid of modern ruby tools, such as Hanami, ROM.rb, etc. We know when it is the right time to start using them.
- We do not use Asset Pipeline.
- We can provide you part-time frontend-developer if your's overloaded.

## Competence:

- Expertise in Vacation Rental:
    - We have been worked with dozens of different data structures describing  Vacation Rental data.
    - We know all the potential problems related to booking
- Work with API:
    - We can build a reliable pipeline to sync big amounts of data from multiple APIs into your system.
    - If there's a need to interact with external APIs, we can build a layer of adapters to support two-way interaction.
    - We understand what distinguishes good API from a bad one. We can develop for you a good one.
- Legacy Rails applications refactoring:
    - We've seen a lot of messed-up Rails applications, and we know how not to organize business logic in Rails.
    - We can clean up your code without the complete rewrite.

## Software development is not only about the code
- We will help you to set up the development process(test, staging, review apps, production) using GitLab CI, Docker, Ansible and whatever you prefer.

## Work process
- We're remote only, so we will not work with you if you think that online interaction will not be enough.
- We work through [Upwork](https://www.upwork.com/o/companies/_~01dfa98ff760726fe2).
